{% extends 'base.html' %}
    
    
{% block head %}
<title>Housing Reviews| Home</title>

{% endblock %}

{% block body %}

    <!-------------------------------Nav Bar Bootstrap-->
    <nav  class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">Irish Housing Reviews    </a>

          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home </a>
            </li>

            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/account">My Account</a>
            </li>
            {% endif %}

            <li class="nav-item">
              <a class="nav-link" href="/post_review">Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>

            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>     
            <li>      
              <a id="welcome" class="bold" href="./account">Welcome {{ current_user.username }}</a>
            </li>
            {% endif %}
          </ul>
          <form class="form-inline my-2 my-lg-0">

            <input class="form-control mr-sm-2" type="search" placeholder="Search by Eircode" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    
    <!-----------------------------Main-------------------------->
    
    <main id="responsive">
                  <div >
                    <div id="index-top">
                      <div id="index-logo">
                        <img id="logo" src="/static/assets/logo.png" alt="housing reviews logo for all acommodation types in the irish market">
                        <h1 id="h1-home">Irish Housing Reviews</h1>
                      </div>
                      <div id= "wrapper">
                      <form action="{{ request.path }}" method="POST" id="contact-form-inner">
    
                        {{ form.csrf_token }}
                            
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        
                        
                        {{ form.eircode( type="text", class_="form-control",placeholder="Search by EIRCODE")}}
                            
                        {% for error in form.eircode.errors %}
                        {{ error }}
                        {% endfor%}
                                             
                                                                          
                        <button  type="submit" class="main-btn"><a id="register-btn">Search</a>
                        {{ btn_action }}
                        </button>
                      
                      
                      </div>


                    </div>
                  </div>
      <!-- map-   Adapted from  https://google-map-generator.com/     ------------------>   
                    <div class="split" >
                      <div class=inside-split>
                          <p class="bold">Not sure of the EIRCODE? Find it below</p>
                        <!--                                              
                        -->
                        <iframe width="500" height="250" src="https://www.eircode.ie/" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                      </div>

                      <div class=inside-split>
                        <p class="bold">Still not convinced? Click on 'View larger map' to access Google Maps</p>
                        <iframe width="500" height="250" src="https://maps.google.com/maps?q=ireland&t=&z=7&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        
                       </div>
                    </div>
                  
                    
      <!----------------Table reviews-->
                    <div id="reviews">
                        <table>
                            <tr>
                                <th>EIRCODE</th> 
                                <th>Review</th>
                                <th>TimeStamp</th>
                                <th>User</th>
                            </tr>

                            {% for review in reviews %}
                            <tr> 

                               <td>{{review.eircode}}</td>
                               <td>{{review.text}}</td>
                               <td>{{review.time}}</td>
                               <td>{{review.user.username}}</td>

   
                            </tr>
                            {% endfor %} 
                        </table>
                      </div>
    </main>
    

    {% block modal %}
    <!-- Adapted from bootstap https://getbootstrap.com/docs/4.0/components/modal/#modal-components 
    and   https://www.w3schools.com/Bootstrap/tryit.asp?filename=trybs_ref_js_modal2&stacked=h-->
    <div class="modal" id="review_popup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
           <div >
              <button class="x_close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h5 class="header_popup">Post a Review</h5>
            </div>
        
            <div class="form_popup">
<!--
              <form action="{{ request.path }}" method="POST" class="...">
                                   
                {% with messages = get_flashed_messages(with_categories=true) %}
                 Categories: success (green), info (blue), warning (yellow), danger (red)
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                    
                <p>
                {% if request.path != '/register' %}
                New here?
                <a href="{{url_for('register')}}">Create account</a>
                {% else %}
                Already have an account?
                <a href="{{url_for('login')}}">Login</a>
                {% endif %}
                </p>
              -->
                
                <form role="form" action="{{ request.path }}" method="POST">

                  {% if not current_user.is_authenticated %}
                  <li class="nav-item">
                    <p>You'll need to Log in to be able to post</p><a class="nav-link" href="/account">Log in</a>
                  </li>
                  {% endif %}
                    <div class="form-group">
                      <label for="usrname"><span class="glyphicon glyphicon-user"></span> Eircode</label>
                      <input type="text" class="form-control" placeholder="Enter Eircode">
                    </div>

                    <div class="form-group">
                      <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Your Review</label>
                      <input type="text" class="form-control"  placeholder="Enter your review">
                    </div>

                    <div class="form-group">
                      <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Rating</label>
                      <input type="text" class="form-control"  placeholder="Enter your rating">
                    </div>
                    <button type="submit" class="main-btn"><span class="glyphicon glyphicon-off"></span> Ready to Post</button>                 
                </form>
                
            </div>


              
           
        

              <!--<button type="button" class="btn btn-primary">Yes, I want to log in</button>
              <a href= "/login" class="btn btn-primary btn-block">Yes, I want to log in</a>
              <a href="/register" class="btn btn-secondary">No, I want to Register</a>
             < <button type="button" class="btn btn-secondary" data-dismiss="modal">No, I want to Register</button> -->
            
            </div>
          </div>
        </div>
      </div>

    
    {% endblock%}

    {% block script %}

    
    <script type="text/javascript">
    $(document).ready(function(){
        $("#myBtn2").click(function(){
            $("#review_popup").modal()
        });
    });

    </script>

  

    

  {% endblock%}
    
{% endblock %}